/*diseños generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

main{
    background-image: url('img/bg.png');
    background-size: 60%;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.contenedor{
    padding-top: 30px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding-bottom: 40px;
}

.titulo{
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

/*diseño del header*/
header {
    position: relative;
    background-color: #1d1d1b;
    padding: 20px;
    padding-bottom: 60px;
}

header img {
    width: auto; 
    height: 80px; 
    position: absolute;
    top: 0;
    right: 0;
}


/*diseño de la primera sección*/
.contenedor-info-empleado{
    display: flex;
    justify-content: center;
}

.imagen-empleado{
    width: 30%;
    padding-right: 10px;
}

.info-empleado .contenido-textos{
    width: 48%;
    text-align: center;
    padding-top: 100px;
}

.contenido-textos h1{
    font-size: 50px;
}

.info-empleado .contenido-textos p{
    font-size: 30px;
}

/*Diseño de la segunda sección*/
.contenedor-detalles{
    display: flex;
    justify-content: center;
}

.imagen-marce{
    width: 25%;
    padding-right: 15px;
}

.detalles .contenido-textos{
    width: 48%;
    text-align: center;
    padding-top: 55px;
    padding-left: 8px;
}

.detalles .contenido-textos p{
    font-size: 28px;
}

/*Diseño de la tercer sección*/

button, input[type="button"] {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px; 
    padding: 10px 20px; 
}

/*Diseño del footer*/
footer{
    background: #1d1d1b;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #9e9797;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #9e9797;
    border-bottom: 3px solid #9e9797;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #9e9797;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}